[submodule "public/apps/mushroom"]
	path = public/apps/mushroom
	url = git://github.com/bdotdub/mushroom.git
[submodule "vendor/sinatra"]
	path = vendor/sinatra
	url = git://github.com/bmizerany/sinatra.git
[submodule "vendor/rack-cache"]
	path = vendor/rack-cache
	url = git://github.com/bdotdub/rack-cache.git
