.module
  %h3.label about
  .relevant
    %p I never know what to write here, but I'll give it a shot. The way you describe yourself says a lot about how you see yourself.
    %p That said, I am a son and a little brother born and raised in New York City. I went to this small university called Columbia, where I watched every single episode of Scrubs at least 6 times, once stayed up for 60 hours (save a 2 hour nap), and discovered the beauty of Car Bombs (and got many others hooked!). It's also where I met and fell in love with a girl.
    %p I am a self-proclaimed nerd, and now I have a job that pays me for being one. I am currently working as a programmer at a financial institution in Midtown NYC. I support the traders who are partially responsible for this whole credit crunch. Whoops.
