*
  :padding 0
  :margin 0

body
  :font-family Helvetica, Arial, sans-serif
  :line-height 1.6em
  :font-size 16px
  :background-image url(/images/bg.gif)

a
  :text-decoration none
  :color #3399cc

a.item
  :color #66ccff
  :background-color #333333
  :padding 5px
  :margin-right 10px

a.item:hover
  :color #333333
  :background-color #66ccff

#container
  :margin auto
  :width 850px
  :border-top 10px solid #555

#content
  :padding 20px
  ul
    :padding 5px
    li
      :list-style-type none
      :padding 2px 0
      :margin -3px

h1#title
  :letter-spacing -0.06em
  :margin-left 20px
  :margin-top 20px
  a
    :color #33BBEE
    :display block
    :width 200px
    :height 60px

.module
  :border-top 5px solid #dadada
  :padding-top 5px
  :margin-bottom 20px
  .label
    :float left
    :width 150px
    h3
      :font-size 24px
      :letter-spacing -1px
  .relevant
    :margin-left 175px
  small a
    :color #999

#page_title
  :color #333333
  :font-size 26px

.line_item
  :padding 10px 0
  :clear both
  .left, .right
    :float left
  .left
    :width 265px
    :border-top 2px solid #333333
    :margin-right 15px
    :text-align right
    :padding 10px
    :font-size 24px
  .right
    :width 650px
    :border-top 2px solid #3399cc

#file_list
  :font-family Consolas, Monaco, 'Courier New'
  .directory a
    :color #336699
  .file a
    :color #775533

.divider
  :display block
  :padding 5px
  :margin 10px
  :background-color #ccc

p
  :padding 15px 0
