.module
  .label
    %h3 About
  .relevant
    I am a brother, son,
    %a{ :href => 'http://www.gilt.com/' } software engineer
    , New Yorker,
    %a{ :href => 'http://rangers.nhl.com/' } Rangers fan
    , a fan of narwhals, a wanna-be creative-type,
    beer fan, and expert curler
    %span{ :style => 'color:#999' }
      %small (that last one may not be true)
    \. You can find out more about me on my
    %a{ :href => '/about' } about page

.module
  .label
    %h3 Projects
  %ul.relevant
    %li
      %a.item{ :href => 'http://exitstrategynyc.com/', :title => 'Exit Strategy NYC' } Exit Strategy NYC
      developed the iPhone version of Exit Strategy NYC
      %small
        %a{ :href => 'http://cityroom.blogs.nytimes.com/2009/07/07/maps-of-subway-platforms-now-on-your-mobile-phone/', :title => 'Maps of Subway Platforms, Now on Your Mobile Phone' } (NYTimes post)
    %li
      %a.item{ :href => 'http://flicksquare.me/', :title => 'FlickSquare' } FlickSquare
      your
      %a{ :href => 'http://foursquare.com/', :title => 'foursquare' } foursquare
      photos automatically posted to
      %a{ :href => 'http://flickr.com/', :title => 'Flickr' } Flickr
      %small
        %a{ :href => 'http://techcrunch.com/2010/12/27/flicksquare/', :title => 'Flicksquare Sends Your Foursquare Check-In Photos To Flickr' } (TechCrunch post)
    %li
      %a.item{ :href => 'http://4squareand7yearsago.com/', :title => '4squareAnd7YearsAgo' } 4squareAnd7YearsAgo
      %a{ :href => 'http://foursquare.com/', :title => 'foursquare' } foursquare
      where you were a year ago. so do we!
      %small
        %a{ :href => 'techcrunch.com/2011/02/21/4squareand7yearsago/', :title => '4SquareAnd7YearsAgo Knows Where You Checked-In Last Year' } (TechCrunch post)
    %li
      %a.item{ :href => 'http://hummingbirdstats.com/', :title => 'FlickSquare' } Hummingbird
      real time web traffic visualization (contributor)
      %small
        %a{ :href => 'http://github.com/mnutt/hummingbird', :title => 'Hummingbird' } (Github)
    %li
      %a.item{ :href => 'http://www.icombinator.net/', :title => 'about' } iCombinator
      %a{ :href => 'http://news.ycombinator.com/', :title => 'Hacker News' } Hacker News
      , for your iPhone browser
    %li
      %a.item{ :href => 'http://gluetogo.heroku.com/', :title => 'GlueToGo' } GlueToGo
      take
      %a{ :href => 'http://getglue.com/', :title => 'Glue' } Glue
      to whatever browser you want!
      %small{ :style => 'color: #999' }
        \* winner of
        %a{ :href => 'http://blog.adaptiveblue.com/?p=2616', :title => 'Glue API Contest Winners', :style => 'text-decoration: underline' } Glue API Contest
    %li
      %a.item{ :href => 'http://hungrycu.com/', :title => 'The Hungry Lion' } the hungry lion
      eateries around
      %a{ :href => 'http://www.columbia.edu/', :title => 'Columbia University' } Columbia.
      Not maintained since April 2007

    %li
      %a.item{ :href => 'http://bdotdub.github.com/' , :title => 'bdotdub on github' } Github repos
      Take a peek at my github page for my open source repositories

.module
  .label
    %h3 Blogs
  %ul.relevant
    %li
      %a.item{ :href => 'http://tumblr.bwong.net/', :title => 'bdotr' } bdotr
      a
      %a{ :href => 'http://en.wikipedia.org/wiki/Tumblelog' } tumblelog

    %li
      %a.item{ :href => 'http://twitter.com/bdotdub', :title => 'twitter' } twitter
      a mostly useless stream of conciousness

    %li
      %a.item{ :href => 'http://inspires.bwong.net/', :title => 'inspiration' } inspiration
      little pieces of inspiration
      %small
        previous incarnation:
        %a{ :href => 'http://bdotdub.posterous.com/', :title => 'Pretty Things' } Pretty Things
    %li
      %a.item{ :href => 'http://notebook.bwong.net/',  :title => 'notebook' } notebook
      a general, all-purpose blog (not updated)


.module
  .label
    %h3 Photos
  %ul.relevant
    %li
      %a.item{ :href => 'http://photo.bwong.net/', :title => 'photos' } photos
      camera taking a break between dust collection

    %li
      %a.item{ :href => 'http://photoblog.bwong.net/', :title => 'photos' } old photoblog
      i used to take photos

    %li
      %a.item{ :href => 'http://photo.bwong.net/thearchives', :title => 'photos' } photo archives
      i used to not suck at taking photos

    %li
      %a.item{ :href => 'http://flickr.com/photos/bwong', :title => 'bwong on flickr' } flickr
      where my photos go to die

.module
  .label
    %h3 Elsewhere
  %ul.relevant
    %li
      %a.item{ :href => 'http://seedlessmedia.com/', :title => 'seedless media' } seedless media
      pokemon card bootlegging, disguised as a web company

    %li
      %a.item{ :href => 'http://www.facebook.com/profile.php?id=100583', :title => "Benny Wong's facebook" } facebook
      the part of me that zuckerberg owns

    %li
      %a.item{ :href => 'http://www.linkedin.com/in/bennywong', :title => "Benny Wong's LinkedIn"} LinkedIn
      i'm awesome at working

    %li
      %a.item{ :href => 'http://del.icio.us/bwong', :title => "Benny Wong's delicious" } delicious
      online bursts of bookmarks

.module
  .label
    %h3 Contact
  %ul.relevant
    %li
      Email:
      <script type="text/javascript">
      /* <![CDATA[ */
      function hivelogic_enkoder(){var kode=
      "kode=\")''(nioj.)(esrever.)''(tilps.edok=edok;\\\"kode=\\\"\\\\;)'':)1-htg"+
      "nel.edok(tArahc.edok?htgnel.edok<i(+x=edok})i(tArahc.edok+)1+i(tArahc.edok"+
      "=+x{)2=+i;)1-htgnel.edok(<i;0=i(rof;''=x;\\\\\\\\\\\"\\\\)''n(oi.j()seerev"+
      ".r')('itpl.sdekoe=od;kd\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\comune.trwti(e\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\a<h er=f\\\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\amliotb:neynb@owgnn.te\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\t tiel\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\\=\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\B\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\neyn\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\"\\\\\\\\\\\\\\\\\\\\b>neynb@owgnn.te/<>a\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\;)=\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\deko"+
      "\\\\\\\\\\\"\\\\=edok\\\"\\\\;kode=kode.split('').reverse().join('')\\\"=e"+
      "dok\";kode=kode.split('').reverse().join('')"
      ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
      /* ]]> */
      </script>
