%ul.module
  %li
    %a.item{ :href => 'http://notebook.bwong.net/',  :title => 'notebook' } notebook
    a blog
    
  %li
    %a.item{ :href => 'http://tumblr.bwong.net/', :title => 'bdotr' } bdotr
    a
    %a{ :href => 'http://en.wikipedia.org/wiki/Tumblelog' } tumblelog
    
  %li
    %a.item{ :href => 'http://twitter.com/bdotdub', :title => 'twitter' } twitter
    my stupid stream of conciousness
  
%ul.module
  %li
    %a.item{ :href => '/about', :title => 'about' } about
    a little bit about me
    
  %li
    %a.item{ :href => 'http://photo.bwong.net/', :title => 'photos' } photos
    i close my eyes and press the button
  
  %li
    %a.item{ :href => '/projects', :title => 'projects' } projects
    i forgo a social life for programming
    
%ul.module
  %li
    %a.item{ :href => 'http://www.icombinator.net/', :title => 'about' } iCombinator
    %a{ :href => 'http://news.ycombinator.com/', :title => 'Hacker News' } Hacker News
    , for your iPhone

  %li
    %a.item{ :href => 'http://photo.bwong.net/thearchives', :title => 'photos' } photo archives
    i used to not suck at taking photos

  %li
    %a.item{ :href => 'http://seedlessmedia.com/', :title => 'seedless media' } seedless media
    pokemon carding trading hub, disguised as a web company
    
  %li
    %a.item{ :href => 'http://hungrycu.com/', :title => 'The Hungry Lion' } the hungry lion
    eateries around
    %a{ :href => 'http://www.columbia.edu/', :title => 'Columbia University' } Columbia