%h1 Table of Contents

%ul
  %li
    %a.item{ :href => 'http://notebook.bwong.net/',  :title => 'notebook' } notebook
    a blog
    
  %li
    %a.item{ :href => 'http://tumblr.bwong.net/', :title => 'bdotr' } bdotr
    a
    %a{ :href => 'http://en.wikipedia.org/wiki/Tumblelog' } tumblelog
    
%ul
  %li
    %a.item{ :href => '/about', :title => 'about' } about
    a little bit about me
    
  %li
    %a.item{ :href => '/about', :title => 'about' } about
    a little bit about me