.module
  .label
    %h3 About
  .relevant
    I am the master of this domain based in the best city in the world,
    New York City. I am a software developer by trade, but a son and a brother first and
    foremost. To learn a little more about me, I have an
    %a{ :href => '/about' } about page.

.module
  .label
    %h3 Blogs
  %ul.relevant
    %li
      %a.item{ :href => 'http://notebook.bwong.net/',  :title => 'notebook' } notebook
      a general, all-purpose blog
    
    %li
      %a.item{ :href => 'http://tumblr.bwong.net/', :title => 'bdotr' } bdotr
      a
      %a{ :href => 'http://en.wikipedia.org/wiki/Tumblelog' } tumblelog
    
    %li
      %a.item{ :href => 'http://twitter.com/bdotdub', :title => 'twitter' } twitter
      a mostly useless stream of conciousness
    
    %li
      %a.item{ :href => 'http://inspires.bwong.net/', :title => 'inspiration' } inspiration
      little pieces of inspiration
      %small
        previous incarnation:
        %a{ :href => 'http://bdotdub.posterous.com/', :title => 'Pretty Things' } Pretty Things
      
.module
  .label
    %h3 Photos
  %ul.relevant
    %li
      %a.item{ :href => 'http://photo.bwong.net/', :title => 'photos' } photos
      camera taking a break between dust collection
  
    %li
      %a.item{ :href => 'http://photo.bwong.net/thearchives', :title => 'photos' } photo archives
      i used to not suck at taking photos
  
    %li
      %a.item{ :href => 'http://flickr.com/photos/bwong', :title => 'bwong on flickr' } flickr
      where my photos go to die

.module
  .label
    %h3 Projects
  %ul.relevant
    %li
      %a.item{ :href => 'http://www.icombinator.net/', :title => 'about' } iCombinator
      %a{ :href => 'http://news.ycombinator.com/', :title => 'Hacker News' } Hacker News
      , for your iPhone

    %li
      %a.item{ :href => 'http://hungrycu.com/', :title => 'The Hungry Lion' } the hungry lion
      eateries around
      %a{ :href => 'http://www.columbia.edu/', :title => 'Columbia University' } Columbia.
      Not maintained since April 2007  

    %li
      %a.item{ :href => 'http://github.com/bdotdub/screenshotous/' , :title => 'screenshotous' } screenshotous
      send a screenshot of a webpage to
      %a{ :href => 'http://posterous.com/' } Posterous.
      Built for
      %a{ :href => 'http://bdotdub.posterous.com/' } Pretty Things

    %li
      %a.item{ :href => 'http://bdotdub.github.com/' , :title => 'bdotdub on github' } Github repos
      Take a peek at my github page for my open source repositories 

.module
  .label
    %h3 Elsewhere
  %ul.relevant
    %li
      %a.item{ :href => 'http://seedlessmedia.com/', :title => 'seedless media' } seedless media
      pokemon card bootlegging, disguised as a web company
    
    %li
      %a.item{ :href => 'http://www.facebook.com/profile.php?id=100583', :title => "Benny Wong's facebook" } facebook
      the part of me that zuckerberg owns
  
    %li
      %a.item{ :href => 'http://www.linkedin.com/in/bennywong', :title => "Benny Wong's LinkedIn"} LinkedIn
      i'm awesome at working
    
    %li
      %a.item{ :href => 'http://del.icio.us/bwong', :title => "Benny Wong's delicious" } delicious
      online bursts of bookmarks

.module
  .label
    %h3 Contact
  %ul.relevant
    %li
      Email:
      <script type="text/javascript">
      /* <![CDATA[ */
      function hivelogic_enkoder(){var kode=
      "kode=\")''(nioj.)(esrever.)''(tilps.edok=edok;\\\"kode=\\\"\\\\;)'':)1-htg"+
      "nel.edok(tArahc.edok?htgnel.edok<i(+x=edok})i(tArahc.edok+)1+i(tArahc.edok"+
      "=+x{)2=+i;)1-htgnel.edok(<i;0=i(rof;''=x;\\\\\\\\\\\"\\\\)''n(oi.j()seerev"+
      ".r')('itpl.sdekoe=od;kd\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\comune.trwti(e\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\a<h er=f\\\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\amliotb:neynb@owgnn.te\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\t tiel\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\\=\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\B\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\neyn\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\"\\\\\\\\\\\\\\\\\\\\b>neynb@owgnn.te/<>a\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"+
      "\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\;)=\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\deko"+
      "\\\\\\\\\\\"\\\\=edok\\\"\\\\;kode=kode.split('').reverse().join('')\\\"=e"+
      "dok\";kode=kode.split('').reverse().join('')"
      ;var i,c,x;while(eval(kode));}hivelogic_enkoder();
      /* ]]> */
      </script>
