!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title
      bwong.net
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %link{ :rel => 'SHORTCUT ICON', :href => '/favicon.ico' }
   
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bwong.css', :type => 'text/css', :media => 'screen' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/sifr.css', :type => 'text/css', :media => 'screen' }
    
    %script{ :src => '/javascripts/sifr.js', :type => 'text/javascript' }
  %body
    #container
      = haml :header, :layout => :none
      #content
        = yield
      = haml :footer, :layout => :none
