- if @notice
  #notice= @notice
%form{ :action => '/upload', :method => 'post', :enctype => 'multipart/form-data' }
  %label{ :for => 'file' } Select a file:
  %input{ :type => 'file', :name => 'upload', :id => 'upload' }
  %input{ :type => 'submit', :name => 'submit', :value => 'Upload!' }

.divider

%ul
  - @directories.each do |dir|
    %li.directory= "#{dir}/"
  - @files.each do |file|
    %li.file= file
